In [168]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [157]:
%autoreload 2

#import pandas as pd

from tools import DataLoader
#from configparser import ConfigParser

# configuration
parser = ConfigParser()
parser.read("settings.ini")
data = DataLoader(parser)
%aimport

Modules to reload:
all-except-skipped

Modules to skip:

In [136]:
%%time
data = DataLoader(parser)

CPU times: user 1.65 s, sys: 63.9 ms, total: 1.72 s
Wall time: 5.19 s

In [169]:
indicators = data.indicators()

In [173]:
data.countries

     [-154.670993, 57.461196],
       [-153.76278, 57.816575],
       [-153.228729, 57.968968],
       [-152.564791, 57.901427],
       [-152.141147, 57.591059],
       [-153.006314, 57.115842]]],
     [[[-165.579164, 59.909987],
       [-166.19277, 59.754441],
       [-166.848337, 59.941406],
       [-167.455277, 60.213069],
       [-166.467792, 60.38417],
       [-165.67443, 60.293607],
       [-165.579164, 59.909987]]],
     [[[-171.731657, 63.782515],
       [-171.114434, 63.592191],
       [-170.491112, 63.694975],
       [-169.682505, 63.431116],
       [-168.689439, 63.297506],
       [-168.771941, 63.188598],
       [-169.52944, 62.976931],
       [-170.290556, 63.194438],
       [-170.671386, 63.375822],
       [-171.553063, 63.317789],
       [-171.791111, 63.405846],
       [-171.731657, 63.782515]]],
     [[[-155.06779, 71.147776],
       [-154.344165, 70.696409],
       [-153.900006, 70.889989],
       [-152.210006, 70.829992],
       [-152.270002, 70.600006],
       [-150.739992, 70.430017],
       [-149.720003, 70.53001],
       [-147.613362, 70.214035],
       [-145.68999, 70.12001],
       [-144.920011, 69.989992],
       [-143.589446, 70.152514],
       [-142.07251, 69.851938],
       [-140.985988, 69.711998],
       [-140.992499, 66.000029],
       [-140.99777, 60.306397],
       [-140.012998, 60.276838],
       [-139.039, 60.000007],
       [-138.34089, 59.56211],
       [-137.4525, 58.905],
       [-136.47972, 59.46389],
       [-135.47583, 59.78778],
       [-134.945, 59.27056],
       [-134.27111, 58.86111],
       [-133.355549, 58.410285],
       [-132.73042, 57.69289],
       [-131.70781, 56.55212],
       [-130.00778, 55.91583],
       [-129.979994, 55.284998],
       [-130.53611, 54.802753],
       [-131.085818, 55.178906],
       [-131.967211, 55.497776],
       [-132.250011, 56.369996],
       [-133.539181, 57.178887],
       [-134.078063, 58.123068],
       [-135.038211, 58.187715],
       [-136.628062, 58.212209],
       [-137.800006, 58.499995],
       [-139.867787, 59.537762],
       [-140.825274, 59.727517],
       [-142.574444, 60.084447],
       [-143.958881, 59.99918],
       [-145.925557, 60.45861],
       [-147.114374, 60.884656],
       [-148.224306, 60.672989],
       [-148.018066, 59.978329],
       [-148.570823, 59.914173],
       [-149.727858, 59.705658],
       [-150.608243, 59.368211],
       [-151.716393, 59.155821],
       [-151.859433, 59.744984],
       [-151.409719, 60.725803],
       [-150.346941, 61.033588],
       [-150.621111, 61.284425],
       [-151.895839, 60.727198],
       [-152.57833, 60.061657],
       [-154.019172, 59.350279],
       [-153.287511, 58.864728],
       [-154.232492, 58.146374],
       [-155.307491, 57.727795],
       [-156.308335, 57.422774],
       [-156.556097, 56.979985],
       [-158.117217, 56.463608],
       [-158.433321, 55.994154],
       [-159.603327, 55.566686],
       [-160.28972, 55.643581],
       [-161.223048, 55.364735],
       [-162.237766, 55.024187],
       [-163.069447, 54.689737],
       [-164.785569, 54.404173],
       [-164.942226, 54.572225],
       [-163.84834, 55.039431],
       [-162.870001, 55.348043],
       [-161.804175, 55.894986],
       [-160.563605, 56.008055],
       [-160.07056, 56.418055],
       [-158.684443, 57.016675],
       [-158.461097, 57.216921],
       [-157.72277, 57.570001],
       [-157.550274, 58.328326],
       [-157.041675, 58.918885],
       [-158.194731, 58.615802],
       [-158.517218, 58.787781],
       [-159.058606, 58.424186],
       [-159.711667, 58.93139],
       [-159.981289, 58.572549],
       [-160.355271, 59.071123],
       [-161.355003, 58.670838],
       [-161.968894, 58.671665],
       [-162.054987, 59.266925],
       [-161.874171, 59.633621],
       [-162.518059, 59.989724],
       [-163.818341, 59.798056],
       [-164.662218, 60.267484],
       [-165.346388, 60.507496],
       [-165.350832, 61.073895],
       [-166.121379, 61.500019],
       [-165.734452, 62.074997],
       [-164.919179, 62.633076],
       [-164.562508, 63.146378],
       [-163.753332, 63.219449],
       [-163.067224, 63.059459],
       [-162.260555, 63.541936],
       [-161.53445, 63.455817],
       [-160.772507, 63.766108],
       [-160.958335, 64.222799],
       [-161.518068, 64.402788],
       [-160.777778, 64.788604],
       [-161.391926, 64.777235],
       [-162.45305, 64.559445],
       [-162.757786, 64.338605],
       [-163.546394, 64.55916],
       [-164.96083, 64.446945],
       [-166.425288, 64.686672],
       [-166.845004, 65.088896],
       [-168.11056, 65.669997],
       [-166.705271, 66.088318],
       [-164.47471, 66.57666],
       [-163.652512, 66.57666],
       [-163.788602, 66.077207],
       [-161.677774, 66.11612],
       [-162.489715, 66.735565],
       [-163.719717, 67.116395],
       [-164.430991, 67.616338],
       [-165.390287, 68.042772],
       [-166.764441, 68.358877],
       [-166.204707, 68.883031],
       [-164.430811, 68.915535],
       [-163.168614, 69.371115],
       [-162.930566, 69.858062],
       [-161.908897, 70.33333],
       [-160.934797, 70.44769],
       [-159.039176, 70.891642],
       [-158.119723, 70.824721],
       [-156.580825, 71.357764],
       [-155.06779, 71.147776]]]]}},
  {'type': 'Feature',
   'id': 'UZB',
   'properties': {'name': 'Uzbekistan'},
   'geometry': {'type': 'Polygon',
    'coordinates': [[[66.518607, 37.362784],
      [66.54615, 37.974685],
      [65.215999, 38.402695],
      [64.170223, 38.892407],
      [63.518015, 39.363257],
      [62.37426, 40.053886],
      [61.882714, 41.084857],
      [61.547179, 41.26637],
      [60.465953, 41.220327],
      [60.083341, 41.425146],
      [59.976422, 42.223082],
      [58.629011, 42.751551],
      [57.78653, 42.170553],
      [56.932215, 41.826026],
      [57.096391, 41.32231],
      [55.968191, 41.308642],
      [55.928917, 44.995858],
      [58.503127, 45.586804],
      [58.689989, 45.500014],
      [60.239972, 44.784037],
      [61.05832, 44.405817],
      [62.0133, 43.504477],
      [63.185787, 43.650075],
      [64.900824, 43.728081],
      [66.098012, 42.99766],
      [66.023392, 41.994646],
      [66.510649, 41.987644],
      [66.714047, 41.168444],
      [67.985856, 41.135991],
      [68.259896, 40.662325],
      [68.632483, 40.668681],
      [69.070027, 41.384244],
      [70.388965, 42.081308],
      [70.962315, 42.266154],
      [71.259248, 42.167711],
      [70.420022, 41.519998],
      [71.157859, 41.143587],
      [71.870115, 41.3929],
      [73.055417, 40.866033],
      [71.774875, 40.145844],
      [71.014198, 40.244366],
      [70.601407, 40.218527],
      [70.45816, 40.496495],
      [70.666622, 40.960213],
      [69.329495, 40.727824],
      [69.011633, 40.086158],
      [68.536416, 39.533453],
      [67.701429, 39.580478],
      [67.44222, 39.140144],
      [68.176025, 38.901553],
      [68.392033, 38.157025],
      [67.83, 37.144994],
      [67.075782, 37.356144],
      [66.518607, 37.362784]]]}},
  {'type': 'Feature',
   'id': 'VEN',
   'properties': {'name': 'Venezuela'},
   'geometry': {'type': 'Polygon',
    'coordinates': [[[-71.331584, 11.776284],
      [-71.360006, 11.539994],
      [-71.94705, 11.423282],
      [-71.620868, 10.96946],
      [-71.633064, 10.446494],
      [-72.074174, 9.865651],
      [-71.695644, 9.072263],
      [-71.264559, 9.137195],
      [-71.039999, 9.859993],
      [-71.350084, 10.211935],
      [-71.400623, 10.968969],
      [-70.155299, 11.375482],
      [-70.293843, 11.846822],
      [-69.943245, 12.162307],
      [-69.5843, 11.459611],
      [-68.882999, 11.443385],
      [-68.233271, 10.885744],
      [-68.194127, 10.554653],
      [-67.296249, 10.545868],
      [-66.227864, 10.648627],
      [-65.655238, 10.200799],
      [-64.890452, 10.077215],
      [-64.329479, 10.389599],
      [-64.318007, 10.641418],
      [-63.079322, 10.701724],
      [-61.880946, 10.715625],
      [-62.730119, 10.420269],
      [-62.388512, 9.948204],
      [-61.588767, 9.873067],
      [-60.830597, 9.38134],
      [-60.671252, 8.580174],
      [-60.150096, 8.602757],
      [-59.758285, 8.367035],
      [-60.550588, 7.779603],
      [-60.637973, 7.415],
      [-60.295668, 7.043911],
      [-60.543999, 6.856584],
      [-61.159336, 6.696077],
      [-61.139415, 6.234297],
      [-61.410303, 5.959068],
      [-60.733574, 5.200277],
      [-60.601179, 4.918098],
      [-60.966893, 4.536468],
      [-62.08543, 4.162124],
      [-62.804533, 4.006965],
      [-63.093198, 3.770571],
      [-63.888343, 4.02053],
      [-64.628659, 4.148481],
      [-64.816064, 4.056445],
      [-64.368494, 3.79721],
      [-64.408828, 3.126786],
      [-64.269999, 2.497006],
      [-63.422867, 2.411068],
      [-63.368788, 2.2009],
      [-64.083085, 1.916369],
      [-64.199306, 1.492855],
      [-64.611012, 1.328731],
      [-65.354713, 1.095282],
      [-65.548267, 0.789254],
      [-66.325765, 0.724452],
      [-66.876326, 1.253361],
      [-67.181294, 2.250638],
      [-67.447092, 2.600281],
      [-67.809938, 2.820655],
      [-67.303173, 3.318454],
      [-67.337564, 3.542342],
      [-67.621836, 3.839482],
      [-67.823012, 4.503937],
      [-67.744697, 5.221129],
      [-67.521532, 5.55687],
      [-67.34144, 6.095468],
      [-67.695087, 6.267318],
      [-68.265052, 6.153268],
      [-68.985319, 6.206805],
      [-69.38948, 6.099861],
      [-70.093313, 6.960376],
      [-70.674234, 7.087785],
      [-71.960176, 6.991615],
      [-72.198352, 7.340431],
      [-72.444487, 7.423785],
      [-72.479679, 7.632506],
      [-72.360901, 8.002638],
      [-72.439862, 8.405275],
      [-72.660495, 8.625288],
      [-72.78873, 9.085027],
      [-73.304952, 9.152],
      [-73.027604, 9.73677],
      [-72.905286, 10.450344],
      [-72.614658, 10.821975],
      [-72.227575, 11.108702],
      [-71.973922, 11.608672],
      [-71.331584, 11.776284]]]}},
  {'type': 'Feature',
   'id': 'VNM',
   'properties': {'name': 'Vietnam'},
   'geometry': {'type': 'Polygon',
    'coordinates': [[[108.05018, 21.55238],
      [106.715068, 20.696851],
      [105.881682, 19.75205],
      [105.662006, 19.058165],
      [106.426817, 18.004121],
      [107.361954, 16.697457],
      [108.269495, 16.079742],
      [108.877107, 15.276691],
      [109.33527, 13.426028],
      [109.200136, 11.666859],
      [108.36613, 11.008321],
      [107.220929, 10.364484],
      [106.405113, 9.53084],
      [105.158264, 8.59976],
      [104.795185, 9.241038],
      [105.076202, 9.918491],
      [104.334335, 10.486544],
      [105.199915, 10.88931],
      [106.24967, 10.961812],
      [105.810524, 11.567615],
      [107.491403, 12.337206],
      [107.614548, 13.535531],
      [107.382727, 14.202441],
      [107.564525, 15.202173],
      [107.312706, 15.908538],
      [106.556008, 16.604284],
      [105.925762, 17.485315],
      [105.094598, 18.666975],
      [103.896532, 19.265181],
      [104.183388, 19.624668],
      [104.822574, 19.886642],
      [104.435, 20.758733],
      [103.203861, 20.766562],
      [102.754896, 21.675137],
      [102.170436, 22.464753],
      [102.706992, 22.708795],
      [103.504515, 22.703757],
      [104.476858, 22.81915],
      [105.329209, 23.352063],
      [105.811247, 22.976892],
      [106.725403, 22.794268],
      [106.567273, 22.218205],
      [107.04342, 21.811899],
      [108.05018, 21.55238]]]}},
  {'type': 'Feature',
   'id': 'VUT',
   'properties': {'name': 'Vanuatu'},
   'geometry': {'type': 'MultiPolygon',
    'coordinates': [[[[167.844877, -16.466333],
       [167.515181, -16.59785],
       [167.180008, -16.159995],
       [167.216801, -15.891846],
       [167.844877, -16.466333]]],
     [[[167.107712, -14.93392],
       [167.270028, -15.740021],
       [167.001207, -15.614602],
       [166.793158, -15.668811],
       [166.649859, -15.392704],
       [166.629137, -14.626497],
       [167.107712, -14.93392]]]]}},
  {'type': 'Feature',
   'id': 'PSE',
   'properties': {'name': 'West Bank'},
   'geometry': {'type': 'Polygon',
    'coordinates': [[[35.545665, 32.393992],
      [35.545252, 31.782505],
      [35.397561, 31.489086],
      [34.927408, 31.353435],
      [34.970507, 31.616778],
      [35.225892, 31.754341],
      [34.974641, 31.866582],
      [35.18393, 32.532511],
      [35.545665, 32.393992]]]}},
  {'type': 'Feature',
   'id': 'YEM',
   'properties': {'name': 'Yemen'},
   'geometry': {'type': 'Polygon',
    'coordinates': [[[53.108573, 16.651051],
      [52.385206, 16.382411],
      [52.191729, 15.938433],
      [52.168165, 15.59742],
      [51.172515, 15.17525],
      [49.574576, 14.708767],
      [48.679231, 14.003202],
      [48.238947, 13.94809],
      [47.938914, 14.007233],
      [47.354454, 13.59222],
      [46.717076, 13.399699],
      [45.877593, 13.347764],
      [45.62505, 13.290946],
      [45.406459, 13.026905],
      [45.144356, 12.953938],
      [44.989533, 12.699587],
      [44.494576, 12.721653],
      [44.175113, 12.58595],
      [43.482959, 12.6368],
      [43.222871, 13.22095],
      [43.251448, 13.767584],
      [43.087944, 14.06263],
      [42.892245, 14.802249],
      [42.604873, 15.213335],
      [42.805015, 15.261963],
      [42.702438, 15.718886],
      [42.823671, 15.911742],
      [42.779332, 16.347891],
      [43.218375, 16.66689],
      [43.115798, 17.08844],
      [43.380794, 17.579987],
      [43.791519, 17.319977],
      [44.062613, 17.410359],
      [45.216651, 17.433329],
      [45.399999, 17.333335],
      [46.366659, 17.233315],
      [46.749994, 17.283338],
      [47.000005, 16.949999],
      [47.466695, 17.116682],
      [48.183344, 18.166669],
      [49.116672, 18.616668],
      [52.00001, 19.000003],
      [52.782184, 17.349742],
      [53.108573, 16.651051]]]}},
  {'type': 'Feature',
   'id': 'ZAF',
   'properties': {'name': 'South Africa'},
   'geometry': {'type': 'Polygon',
    'coordinates': [[[31.521001, -29.257387],
      [31.325561, -29.401978],
      [30.901763, -29.909957],
      [30.622813, -30.423776],
      [30.055716, -31.140269],
      [28.925553, -32.172041],
      [28.219756, -32.771953],
      [27.464608, -33.226964],
      [26.419452, -33.61495],
      [25.909664, -33.66704],
      [25.780628, -33.944646],
      [25.172862, -33.796851],
      [24.677853, -33.987176],
      [23.594043, -33.794474],
      [22.988189, -33.916431],
      [22.574157, -33.864083],
      [21.542799, -34.258839],
      [20.689053, -34.417175],
      [20.071261, -34.795137],
      [19.616405, -34.819166],
      [19.193278, -34.462599],
      [18.855315, -34.444306],
      [18.424643, -33.997873],
      [18.377411, -34.136521],
      [18.244499, -33.867752],
      [18.25008, -33.281431],
      [17.92519, -32.611291],
      [18.24791, -32.429131],
      [18.221762, -31.661633],
      [17.566918, -30.725721],
      [17.064416, -29.878641],
      [17.062918, -29.875954],
      [16.344977, -28.576705],
      [16.824017, -28.082162],
      [17.218929, -28.355943],
      [17.387497, -28.783514],
      [17.836152, -28.856378],
      [18.464899, -29.045462],
      [19.002127, -28.972443],
      [19.894734, -28.461105],
      [19.895768, -24.76779],
      [20.165726, -24.917962],
      [20.758609, -25.868136],
      [20.66647, -26.477453],
      [20.889609, -26.828543],
      [21.605896, -26.726534],
      [22.105969, -26.280256],
      [22.579532, -25.979448],
      [22.824271, -25.500459],
      [23.312097, -25.26869],
      [23.73357, -25.390129],
      [24.211267, -25.670216],
      [25.025171, -25.71967],
      [25.664666, -25.486816],
      [25.765849, -25.174845],
      [25.941652, -24.696373],
      [26.485753, -24.616327],
      [26.786407, -24.240691],
      [27.11941, -23.574323],
      [28.017236, -22.827754],
      [29.432188, -22.091313],
      [29.839037, -22.102216],
      [30.322883, -22.271612],
      [30.659865, -22.151567],
      [31.191409, -22.25151],
      [31.670398, -23.658969],
      [31.930589, -24.369417],
      [31.752408, -25.484284],
      [31.837778, -25.843332],
      [31.333158, -25.660191],
      [31.04408, -25.731452],
      [30.949667, -26.022649],
      [30.676609, -26.398078],
      [30.685962, -26.743845],
      [31.282773, -27.285879],
      [31.86806, -27.177927],
      [32.071665, -26.73382],
      [32.83012, -26.742192],
      [32.580265, -27.470158],
      [32.462133, -28.301011],
      [32.203389, -28.752405],
      [31.521001, -29.257387]],
     [[28.978263, -28.955597],
      [28.5417, -28.647502],
      [28.074338, -28.851469],
      [27.532511, -29.242711],
      [26.999262, -29.875954],
      [27.749397, -30.645106],
      [28.107205, -30.545732],
      [28.291069, -30.226217],
      [28.8484, -30.070051],
      [29.018415, -29.743766],
      [29.325166, -29.257387],
      [28.978263, -28.955597]]]}},
  {'type': 'Feature',
   'id': 'ZMB',
   'properties': {'name': 'Zambia'},
   'geometry': {'type': 'Polygon',
    'coordinates': [[[32.759375, -9.230599],
      [33.231388, -9.676722],
      [33.485688, -10.525559],
      [33.31531, -10.79655],
      [33.114289, -11.607198],
      [33.306422, -12.435778],
      [32.991764, -12.783871],
      [32.688165, -13.712858],
      [33.214025, -13.97186],
      [30.179481, -14.796099],
      [30.274256, -15.507787],
      [29.516834, -15.644678],
      [28.947463, -16.043051],
      [28.825869, -16.389749],
      [28.467906, -16.4684],
      [27.598243, -17.290831],
      [27.044427, -17.938026],
      [26.706773, -17.961229],
      [26.381935, -17.846042],
      [25.264226, -17.73654],
      [25.084443, -17.661816],
      [25.07695, -17.578823],
      [24.682349, -17.353411],
      [24.033862, -17.295843],
      [23.215048, -17.523116],
      [22.562478, -16.898451],
      [21.887843, -16.08031],
      [21.933886, -12.898437],
      [24.016137, -12.911046],
      [23.930922, -12.565848],
      [24.079905, -12.191297],
      [23.904154, -11.722282],
      [24.017894, -11.237298],
      [23.912215, -10.926826],
      [24.257155, -10.951993],
      [24.314516, -11.262826],
      [24.78317, -11.238694],
      [25.418118, -11.330936],
      [25.75231, -11.784965],
      [26.553088, -11.92444],
      [27.16442, -11.608748],
      [27.388799, -12.132747],
      [28.155109, -12.272481],
      [28.523562, -12.698604],
      [28.934286, -13.248958],
      [29.699614, -13.257227],
      [29.616001, -12.178895],
      [29.341548, -12.360744],
      [28.642417, -11.971569],
      [28.372253, -11.793647],
      [28.49607, -10.789884],
      [28.673682, -9.605925],
      [28.449871, -9.164918],
      [28.734867, -8.526559],
      [29.002912, -8.407032],
      [30.346086, -8.238257],
      [30.740015, -8.340007],
      [31.157751, -8.594579],
      [31.556348, -8.762049],
      [32.191865, -8.930359],
      [32.759375, -9.230599]]]}},
  {'type': 'Feature',
   'id': 'ZWE',
   'properties': {'name': 'Zimbabwe'},
   'geometry': {'type': 'Polygon',
    'coordinates': [[[31.191409, -22.25151],
      [30.659865, -22.151567],
      [30.322883, -22.271612],
      [29.839037, -22.102216],
      [29.432188, -22.091313],
      [28.794656, -21.639454],
      [28.02137, -21.485975],
      [27.727228, -20.851802],
      [27.724747, -20.499059],
      [27.296505, -20.39152],
      [26.164791, -19.293086],
      [25.850391, -18.714413],
      [25.649163, -18.536026],
      [25.264226, -17.73654],
      [26.381935, -17.846042],
      [26.706773, -17.961229],
      [27.044427, -17.938026],
      [27.598243, -17.290831],
      [28.467906, -16.4684],
      [28.825869, -16.389749],
      [28.947463, -16.043051],
      [29.516834, -15.644678],
      [30.274256, -15.507787],
      [30.338955, -15.880839],
      [31.173064, -15.860944],
      [31.636498, -16.07199],
      [31.852041, -16.319417],
      [32.328239, -16.392074],
      [32.847639, -16.713398],
      [32.849861, -17.979057],
      [32.654886, -18.67209],
      [32.611994, -19.419383],
      [32.772708, -19.715592],
      [32.659743, -20.30429],
      [32.508693, -20.395292],
      [32.244988, -21.116489],
      [31.191409, -22.25151]]]}}]}

In [170]:
data.select("US", indicators["cases_capita"]).tail()# data.assign(test=lambda x: x.region)

,date,region,iso3,deaths,cases,recovered,population,continent,cases/1M capita
14698,2020-04-13,US,USA,23528,580619,43482,327167434,NA,177.0
14699,2020-04-14,US,USA,25831,607670,47763,327167434,NA,186.0
14700,2020-04-15,US,USA,28325,636350,52096,327167434,NA,195.0
14701,2020-04-16,US,USA,32916,667801,54703,327167434,NA,204.0
14702,2020-04-17,US,USA,36773,699706,58545,327167434,NA,214.0

In [142]:
test = data.data.copy()

In [150]:
test = test.assign("test"=lambda x: x.region)

SyntaxError: keyword can't be an expression (<ipython-input-150-6a02c706dfa3>, line 1)

In [149]:
test

,date,region,iso3,deaths,cases,recovered,population,continent,test
0,2020-01-22,Afghanistan,AFG,0,0,0,37172386,AS,Afghanistan
1,2020-01-23,Afghanistan,AFG,0,0,0,37172386,AS,Afghanistan
2,2020-01-24,Afghanistan,AFG,0,0,0,37172386,AS,Afghanistan
3,2020-01-25,Afghanistan,AFG,0,0,0,37172386,AS,Afghanistan
4,2020-01-26,Afghanistan,AFG,0,0,0,37172386,AS,Afghanistan
...,...,...,...,...,...,...,...,...,...
15829,2020-04-13,Zimbabwe,ZWE,3,17,0,14439018,AF,Zimbabwe
15830,2020-04-14,Zimbabwe,ZWE,3,17,0,14439018,AF,Zimbabwe
15831,2020-04-15,Zimbabwe,ZWE,3,23,1,14439018,AF,Zimbabwe
15832,2020-04-16,Zimbabwe,ZWE,3,23,1,14439018,AF,Zimbabwe
15833,2020-04-17,Zimbabwe,ZWE,3,24,2,14439018,AF,Zimbabwe

In [85]:
(data.timeseries[data.timeseries.region == "US"].cases.round(1)*1).diff()

14616        NaN
14617        0.0
14618        1.0
14619        0.0
14620        3.0
          ...
14698    25306.0
14699    27051.0
14700    28680.0
14701    31451.0
14702    31905.0
Name: cases, Length: 87, dtype: float64

In [87]:
data.timeseries[data.timeseries.region=="AF"].head(3)

,date,region,iso3,deaths,cases,recovered,population,continent,daily cases,daily deaths,cases/1M capita,deaths/1M capita,recovered(%),lethality(%),mortality(‰),recovered/deaths(%)
0,2020-01-22,AF,False,0,0,0,1264761817,AF,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN
6,2020-01-23,AF,False,0,0,0,1264761817,AF,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN
12,2020-01-24,AF,False,0,0,0,1264761817,AF,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN

In [89]:
latest_data = data.timeseries[data.timeseries.date==data.timeseries.date.max()]
latest_data.head(3)

,date,region,iso3,deaths,cases,recovered,population,continent,daily cases,daily deaths,cases/1M capita,deaths/1M capita,recovered(%),lethality(%),mortality(‰),recovered/deaths(%)
516,2020-04-17,AF,False,1016,19773,4604,1264761817,AF,-47365.0,-2011.0,2.0,0.1,23.0,5.14,0.00,453.15
517,2020-04-17,AS,False,14054,357416,170058,4474285900,AS,337643.0,13038.0,8.0,0.3,48.0,3.93,0.00,1210.03
518,2020-04-17,EU,False,96281,1031490,289505,745571470,EU,674074.0,82227.0,138.0,12.9,28.0,9.33,0.13,300.69

In [91]:
indicator = "cases"
region = "France"
continent = "EU"
# continent can be taken from region
# choose from map: region
# choose from tab: continent

In [93]:
timeseries_EU = data.timeseries[data.timeseries.region=="EU"].head(3)
timeseries_EU

,date,region,iso3,deaths,cases,recovered,population,continent,daily cases,daily deaths,cases/1M capita,deaths/1M capita,recovered(%),lethality(%),mortality(‰),recovered/deaths(%)
2,2020-01-22,EU,False,0,0,0,745571470,EU,-554.0,-17.0,0.0,0.0,NaN,NaN,0.0,NaN
8,2020-01-23,EU,False,0,0,0,745571470,EU,-653.0,-18.0,0.0,0.0,NaN,NaN,0.0,NaN
14,2020-01-24,EU,False,0,2,0,745571470,EU,-935.0,-26.0,0.0,0.0,0.0,0.0,0.0,NaN

In [95]:
timeseries_France = data.timeseries[data.timeseries.region=="US"]
timeseries_France.continent.head(1)

14616    NA
Name: continent, dtype: object

In [97]:
a= [{'prop_id': 'title-continent.children', 'value': 'World'}]

In [99]:
a=["value"]

In [101]:
b= [{'prop_id': 'title-continent.children', 'value': 'World'}, {'prop_id': 'title-region.children', 'value': ['World']}]

In [103]:
c=[{'prop_id': 'title-region.children', 'value': ['France']}, {'prop_id': 'title-continent.children', 'value': 'EU'}]

In [105]:
type(c[0]["value"]) == list

True

In [107]:
indicators = data.indicators()
indicators["cases_capita"]["name"]

'cases/1M capita'

In [109]:
timeseries_France.loc[:, "daily cases"] = (timeseries_France.cases.diff() * 1).round(0)
timeseries_France.head(10)

,date,region,iso3,deaths,cases,recovered,population,continent,daily cases,daily deaths,cases/1M capita,deaths/1M capita,recovered(%),lethality(%),mortality(‰),recovered/deaths(%)
14616,2020-01-22,US,USA,0,1,0,327167434,NA,NaN,-1769.0,0.0,0.0,0.0,0.0,0.0,NaN
14617,2020-01-23,US,USA,0,1,0,327167434,NA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
14618,2020-01-24,US,USA,0,2,0,327167434,NA,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
14619,2020-01-25,US,USA,0,2,0,327167434,NA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
14620,2020-01-26,US,USA,0,5,0,327167434,NA,3.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
14621,2020-01-27,US,USA,0,5,0,327167434,NA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
14622,2020-01-28,US,USA,0,5,0,327167434,NA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
14623,2020-01-29,US,USA,0,5,0,327167434,NA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
14624,2020-01-30,US,USA,0,5,0,327167434,NA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
14625,2020-01-31,US,USA,0,7,0,327167434,NA,2.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [123]:
#timeseries_France.loc[:, "name"] = (timeseries_France.loc[:, "cases"] * 1).round(0)
data.timeseries.to_csv("test.csv")

In [125]:
test = pd.read_csv("test.csv")
test

,Unnamed: 0,date,region,iso3,deaths,cases,recovered,population,continent,daily cases,daily deaths,cases/1M capita,deaths/1M capita,recovered(%),lethality(%),mortality(‰),recovered/deaths(%)
0,0,2020-01-22,AF,False,0,0,0,1264761817,AF,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN
1,1,2020-01-22,AS,False,17,554,28,4474285900,AS,554.0,17.0,0.0,0.0,5.0,3.07,0.0,164.71
2,2,2020-01-22,EU,False,0,0,0,745571470,EU,-554.0,-17.0,0.0,0.0,NaN,NaN,0.0,NaN
3,3,2020-01-22,NaN,False,0,1,0,578407428,NaN,1.0,0.0,0.0,0.0,0.0,0.00,0.0,NaN
4,4,2020-01-22,OC,False,0,0,0,40635640,OC,-1.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16438,15829,2020-04-13,Zimbabwe,ZWE,3,17,0,14439018,AF,3.0,0.0,0.0,0.0,0.0,17.65,0.0,0.00
16439,15830,2020-04-14,Zimbabwe,ZWE,3,17,0,14439018,AF,0.0,0.0,0.0,0.0,0.0,17.65,0.0,0.00
16440,15831,2020-04-15,Zimbabwe,ZWE,3,23,1,14439018,AF,6.0,0.0,0.0,0.0,4.0,13.04,0.0,33.33
16441,15832,2020-04-16,Zimbabwe,ZWE,3,23,1,14439018,AF,0.0,0.0,0.0,0.0,4.0,13.04,0.0,33.33
16442,15833,2020-04-17,Zimbabwe,ZWE,3,24,2,14439018,AF,1.0,0.0,0.0,0.0,8.0,12.50,0.0,66.67

In [130]:
class Test:
    def __init__(self):
        self.data = pd.read_csv("test.csv")

    def select(self,country):
        select = self.data[self.data.region==country]
        return select

In [131]:
testen = Test()

In [134]:
selection = testen.select("US")
selection

,Unnamed: 0,date,region,iso3,deaths,cases,recovered,population,continent,daily cases,daily deaths,cases/1M capita,deaths/1M capita,recovered(%),lethality(%),mortality(‰),recovered/deaths(%)
15225,14616,2020-01-22,US,USA,0,1,0,327167434,NaN,-78545.0,-1769.0,0.0,0.0,0.0,0.00,0.00,NaN
15226,14617,2020-01-23,US,USA,0,1,0,327167434,NaN,0.0,0.0,0.0,0.0,0.0,0.00,0.00,NaN
15227,14618,2020-01-24,US,USA,0,2,0,327167434,NaN,1.0,0.0,0.0,0.0,0.0,0.00,0.00,NaN
15228,14619,2020-01-25,US,USA,0,2,0,327167434,NaN,0.0,0.0,0.0,0.0,0.0,0.00,0.00,NaN
15229,14620,2020-01-26,US,USA,0,5,0,327167434,NaN,3.0,0.0,0.0,0.0,0.0,0.00,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15307,14698,2020-04-13,US,USA,23528,580619,43482,327167434,NaN,25306.0,1509.0,177.0,7.2,7.0,4.05,0.07,184.81
15308,14699,2020-04-14,US,USA,25831,607670,47763,327167434,NaN,27051.0,2303.0,186.0,7.9,8.0,4.25,0.08,184.91
15309,14700,2020-04-15,US,USA,28325,636350,52096,327167434,NaN,28680.0,2494.0,195.0,8.7,8.0,4.45,0.09,183.92
15310,14701,2020-04-16,US,USA,32916,667801,54703,327167434,NaN,31451.0,4591.0,204.0,10.1,8.0,4.93,0.10,166.19
15311,14702,2020-04-17,US,USA,36773,699706,58545,327167434,NaN,31905.0,3857.0,214.0,11.2,8.0,5.26,0.11,159.21