In [1]:
%load_ext autoreload

In [42]:
%autoreload 2

import pandas as pd

from tools import DataLoader
from configparser import ConfigParser

# configuration
parser = ConfigParser()
parser.read("settings.ini")

%aimport

Modules to reload:
all-except-skipped

Modules to skip:

In [43]:
%%time
data = DataLoader(parser)

CPU times: user 2.07 s, sys: 73.9 ms, total: 2.15 s
Wall time: 6.24 s

In [45]:
data.latest_data

In [28]:
data.timeseries[data.timeseries.region=="AF"].head(3)

,date,region,iso3,deaths,cases,recovered,population,continent,cases/1M capita,deaths/1M capita,recovered(%),lethality(%),mortality(‰),recovered/deaths(%)
0,2020-01-22,AF,False,0,0,0,1264761817,AF,0.0,0.0,NaN,NaN,0.0,NaN
6,2020-01-23,AF,False,0,0,0,1264761817,AF,0.0,0.0,NaN,NaN,0.0,NaN
12,2020-01-24,AF,False,0,0,0,1264761817,AF,0.0,0.0,NaN,NaN,0.0,NaN

In [36]:
latest_data = data.timeseries[data.timeseries.date==data.timeseries.date.max()]
latest_data.head(3)

,date,region,iso3,deaths,cases,recovered,population,continent,cases/1M capita,deaths/1M capita,recovered(%),lethality(%),mortality(‰),recovered/deaths(%)
510,2020-04-16,AF,False,965,18366,4279,1264761817,AF,1.0,0.1,23.0,5.25,0.00,443.42
511,2020-04-16,AS,False,12402,344611,165635,4474285900,AS,8.0,0.3,48.0,3.60,0.00,1335.55
512,2020-04-16,EU,False,92276,998657,275214,745571470,EU,134.0,12.4,28.0,9.24,0.12,298.25

In [46]:
indicator = "cases"
region = "France"
continent = "EU"
# continent can be taken from region
# choose from map: region
# choose from tab: continent

In [47]:
timeseries_EU = data.timeseries[data.timeseries.region=="EU"].head(3)
timeseries_EU

,date,region,iso3,deaths,cases,recovered,population,continent,cases/1M capita,deaths/1M capita,recovered(%),lethality(%),mortality(‰),recovered/deaths(%)
2,2020-01-22,EU,False,0,0,0,745571470,EU,0.0,0.0,NaN,NaN,0.0,NaN
8,2020-01-23,EU,False,0,0,0,745571470,EU,0.0,0.0,NaN,NaN,0.0,NaN
14,2020-01-24,EU,False,0,2,0,745571470,EU,0.0,0.0,0.0,0.0,0.0,NaN

In [49]:
timeseries_France = data.timeseries[data.timeseries.region=="France"].head(3)
timeseries_France.continent

5160    EU
5161    EU
5162    EU
Name: continent, dtype: object