In [1]:
%load_ext autoreload

In [76]:
%autoreload 2

import pandas as pd

from tools import DataLoader
from configparser import ConfigParser

# configuration
parser = ConfigParser()
parser.read("settings.ini")
data = DataLoader(parser)
%aimport

cases
deaths
Modules to reload:
all-except-skipped

Modules to skip:

In [44]:
%%time
data = DataLoader(parser)

CPU times: user 2.15 s, sys: 62.9 ms, total: 2.21 s
Wall time: 6.67 s

In [20]:
indicators = data.indicators()

In [86]:
regions = data.regions
list(regions.keys())
data.timeseries[data.timeseries.region.isin(list(regions.keys()))]

         date region   iso3  deaths    cases  recovered  population continent
0  2020-01-22     AF  False       0        0          0  1264761817        AF
1  2020-01-22     AS  False      17      554         28  4474285900        AS
2  2020-01-22     EU  False       0        0          0   745571470        EU
3  2020-01-22     NA  False       0        1          0   578407428        NA
4  2020-01-22     OC  False       0        0          0    40635640        OC
..        ...    ...    ...     ...      ...        ...         ...       ...
82 2020-04-13  World  False  119461  1903834     447978  7527061250     World
83 2020-04-14  World  False  125961  1975083     473556  7527061250     World
84 2020-04-15  World  False  134154  2054946     510314  7527061250     World
85 2020-04-16  World  False  143775  2151476     541384  7527061250     World
86 2020-04-17  World  False  153794  2238989     567615  7527061250     World

[609 rows x 8 columns]

In [77]:
test = data.latest#.sort_values(["region", "date"])
#test["test"] = test.loc[:,"deaths"].diff()
#test = test[test.date==test.date.max()]
test[test.region=="Germany"]

,date,region,iso3,deaths,cases,recovered,population,continent,daily cases,daily deaths,cases/1M capita,deaths/1M capita,recovered(%),lethality(%),mortality(‰),recovered/deaths(%)
5654,2020-04-17,Germany,DEU,4352,141397,83114,82927922,EU,3699.0,300.0,171.0,5.2,59.0,3.08,0.05,1909.79

In [170]:
data.select("US", indicators["cases_capita"]).tail()# data.assign(test=lambda x: x.region)

,date,region,iso3,deaths,cases,recovered,population,continent,cases/1M capita
14698,2020-04-13,US,USA,23528,580619,43482,327167434,NA,177.0
14699,2020-04-14,US,USA,25831,607670,47763,327167434,NA,186.0
14700,2020-04-15,US,USA,28325,636350,52096,327167434,NA,195.0
14701,2020-04-16,US,USA,32916,667801,54703,327167434,NA,204.0
14702,2020-04-17,US,USA,36773,699706,58545,327167434,NA,214.0

In [142]:
test = data.data.copy()

In [150]:
test = test.assign("test"=lambda x: x.region)

SyntaxError: keyword can't be an expression (<ipython-input-150-6a02c706dfa3>, line 1)

In [149]:
test

,date,region,iso3,deaths,cases,recovered,population,continent,test
0,2020-01-22,Afghanistan,AFG,0,0,0,37172386,AS,Afghanistan
1,2020-01-23,Afghanistan,AFG,0,0,0,37172386,AS,Afghanistan
2,2020-01-24,Afghanistan,AFG,0,0,0,37172386,AS,Afghanistan
3,2020-01-25,Afghanistan,AFG,0,0,0,37172386,AS,Afghanistan
4,2020-01-26,Afghanistan,AFG,0,0,0,37172386,AS,Afghanistan
...,...,...,...,...,...,...,...,...,...
15829,2020-04-13,Zimbabwe,ZWE,3,17,0,14439018,AF,Zimbabwe
15830,2020-04-14,Zimbabwe,ZWE,3,17,0,14439018,AF,Zimbabwe
15831,2020-04-15,Zimbabwe,ZWE,3,23,1,14439018,AF,Zimbabwe
15832,2020-04-16,Zimbabwe,ZWE,3,23,1,14439018,AF,Zimbabwe
15833,2020-04-17,Zimbabwe,ZWE,3,24,2,14439018,AF,Zimbabwe

In [85]:
(data.timeseries[data.timeseries.region == "US"].cases.round(1)*1).diff()

14616        NaN
14617        0.0
14618        1.0
14619        0.0
14620        3.0
          ...
14698    25306.0
14699    27051.0
14700    28680.0
14701    31451.0
14702    31905.0
Name: cases, Length: 87, dtype: float64

In [87]:
data.timeseries[data.timeseries.region=="AF"].head(3)

,date,region,iso3,deaths,cases,recovered,population,continent,daily cases,daily deaths,cases/1M capita,deaths/1M capita,recovered(%),lethality(%),mortality(‰),recovered/deaths(%)
0,2020-01-22,AF,False,0,0,0,1264761817,AF,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN
6,2020-01-23,AF,False,0,0,0,1264761817,AF,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN
12,2020-01-24,AF,False,0,0,0,1264761817,AF,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN

In [89]:
latest_data = data.timeseries[data.timeseries.date==data.timeseries.date.max()]
latest_data.head(3)

,date,region,iso3,deaths,cases,recovered,population,continent,daily cases,daily deaths,cases/1M capita,deaths/1M capita,recovered(%),lethality(%),mortality(‰),recovered/deaths(%)
516,2020-04-17,AF,False,1016,19773,4604,1264761817,AF,-47365.0,-2011.0,2.0,0.1,23.0,5.14,0.00,453.15
517,2020-04-17,AS,False,14054,357416,170058,4474285900,AS,337643.0,13038.0,8.0,0.3,48.0,3.93,0.00,1210.03
518,2020-04-17,EU,False,96281,1031490,289505,745571470,EU,674074.0,82227.0,138.0,12.9,28.0,9.33,0.13,300.69

In [91]:
indicator = "cases"
region = "France"
continent = "EU"
# continent can be taken from region
# choose from map: region
# choose from tab: continent

In [93]:
timeseries_EU = data.timeseries[data.timeseries.region=="EU"].head(3)
timeseries_EU

,date,region,iso3,deaths,cases,recovered,population,continent,daily cases,daily deaths,cases/1M capita,deaths/1M capita,recovered(%),lethality(%),mortality(‰),recovered/deaths(%)
2,2020-01-22,EU,False,0,0,0,745571470,EU,-554.0,-17.0,0.0,0.0,NaN,NaN,0.0,NaN
8,2020-01-23,EU,False,0,0,0,745571470,EU,-653.0,-18.0,0.0,0.0,NaN,NaN,0.0,NaN
14,2020-01-24,EU,False,0,2,0,745571470,EU,-935.0,-26.0,0.0,0.0,0.0,0.0,0.0,NaN

In [95]:
timeseries_France = data.timeseries[data.timeseries.region=="US"]
timeseries_France.continent.head(1)

14616    NA
Name: continent, dtype: object

In [97]:
a= [{'prop_id': 'title-continent.children', 'value': 'World'}]

In [99]:
a=["value"]

In [101]:
b= [{'prop_id': 'title-continent.children', 'value': 'World'}, {'prop_id': 'title-region.children', 'value': ['World']}]

In [103]:
c=[{'prop_id': 'title-region.children', 'value': ['France']}, {'prop_id': 'title-continent.children', 'value': 'EU'}]

In [105]:
type(c[0]["value"]) == list

True

In [107]:
indicators = data.indicators()
indicators["cases_capita"]["name"]

'cases/1M capita'

In [109]:
timeseries_France.loc[:, "daily cases"] = (timeseries_France.cases.diff() * 1).round(0)
timeseries_France.head(10)

,date,region,iso3,deaths,cases,recovered,population,continent,daily cases,daily deaths,cases/1M capita,deaths/1M capita,recovered(%),lethality(%),mortality(‰),recovered/deaths(%)
14616,2020-01-22,US,USA,0,1,0,327167434,NA,NaN,-1769.0,0.0,0.0,0.0,0.0,0.0,NaN
14617,2020-01-23,US,USA,0,1,0,327167434,NA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
14618,2020-01-24,US,USA,0,2,0,327167434,NA,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
14619,2020-01-25,US,USA,0,2,0,327167434,NA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
14620,2020-01-26,US,USA,0,5,0,327167434,NA,3.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
14621,2020-01-27,US,USA,0,5,0,327167434,NA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
14622,2020-01-28,US,USA,0,5,0,327167434,NA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
14623,2020-01-29,US,USA,0,5,0,327167434,NA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
14624,2020-01-30,US,USA,0,5,0,327167434,NA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
14625,2020-01-31,US,USA,0,7,0,327167434,NA,2.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [123]:
#timeseries_France.loc[:, "name"] = (timeseries_France.loc[:, "cases"] * 1).round(0)
data.timeseries.to_csv("test.csv")

In [125]:
test = pd.read_csv("test.csv")
test

,Unnamed: 0,date,region,iso3,deaths,cases,recovered,population,continent,daily cases,daily deaths,cases/1M capita,deaths/1M capita,recovered(%),lethality(%),mortality(‰),recovered/deaths(%)
0,0,2020-01-22,AF,False,0,0,0,1264761817,AF,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN
1,1,2020-01-22,AS,False,17,554,28,4474285900,AS,554.0,17.0,0.0,0.0,5.0,3.07,0.0,164.71
2,2,2020-01-22,EU,False,0,0,0,745571470,EU,-554.0,-17.0,0.0,0.0,NaN,NaN,0.0,NaN
3,3,2020-01-22,NaN,False,0,1,0,578407428,NaN,1.0,0.0,0.0,0.0,0.0,0.00,0.0,NaN
4,4,2020-01-22,OC,False,0,0,0,40635640,OC,-1.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16438,15829,2020-04-13,Zimbabwe,ZWE,3,17,0,14439018,AF,3.0,0.0,0.0,0.0,0.0,17.65,0.0,0.00
16439,15830,2020-04-14,Zimbabwe,ZWE,3,17,0,14439018,AF,0.0,0.0,0.0,0.0,0.0,17.65,0.0,0.00
16440,15831,2020-04-15,Zimbabwe,ZWE,3,23,1,14439018,AF,6.0,0.0,0.0,0.0,4.0,13.04,0.0,33.33
16441,15832,2020-04-16,Zimbabwe,ZWE,3,23,1,14439018,AF,0.0,0.0,0.0,0.0,4.0,13.04,0.0,33.33
16442,15833,2020-04-17,Zimbabwe,ZWE,3,24,2,14439018,AF,1.0,0.0,0.0,0.0,8.0,12.50,0.0,66.67

In [130]:
class Test:
    def __init__(self):
        self.data = pd.read_csv("test.csv")

    def select(self,country):
        select = self.data[self.data.region==country]
        return select

In [131]:
testen = Test()

In [134]:
selection = testen.select("US")
selection

,Unnamed: 0,date,region,iso3,deaths,cases,recovered,population,continent,daily cases,daily deaths,cases/1M capita,deaths/1M capita,recovered(%),lethality(%),mortality(‰),recovered/deaths(%)
15225,14616,2020-01-22,US,USA,0,1,0,327167434,NaN,-78545.0,-1769.0,0.0,0.0,0.0,0.00,0.00,NaN
15226,14617,2020-01-23,US,USA,0,1,0,327167434,NaN,0.0,0.0,0.0,0.0,0.0,0.00,0.00,NaN
15227,14618,2020-01-24,US,USA,0,2,0,327167434,NaN,1.0,0.0,0.0,0.0,0.0,0.00,0.00,NaN
15228,14619,2020-01-25,US,USA,0,2,0,327167434,NaN,0.0,0.0,0.0,0.0,0.0,0.00,0.00,NaN
15229,14620,2020-01-26,US,USA,0,5,0,327167434,NaN,3.0,0.0,0.0,0.0,0.0,0.00,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15307,14698,2020-04-13,US,USA,23528,580619,43482,327167434,NaN,25306.0,1509.0,177.0,7.2,7.0,4.05,0.07,184.81
15308,14699,2020-04-14,US,USA,25831,607670,47763,327167434,NaN,27051.0,2303.0,186.0,7.9,8.0,4.25,0.08,184.91
15309,14700,2020-04-15,US,USA,28325,636350,52096,327167434,NaN,28680.0,2494.0,195.0,8.7,8.0,4.45,0.09,183.92
15310,14701,2020-04-16,US,USA,32916,667801,54703,327167434,NaN,31451.0,4591.0,204.0,10.1,8.0,4.93,0.10,166.19
15311,14702,2020-04-17,US,USA,36773,699706,58545,327167434,NaN,31905.0,3857.0,214.0,11.2,8.0,5.26,0.11,159.21