In [1]:
%load_ext autoreload

In [2]:
%autoreload 2

import pandas as pd

from tools import DataLoader
from configparser import ConfigParser

# configuration
parser = ConfigParser()
parser.read("../settings.ini")
data = DataLoader(parser)
import pathlib
print(pathlib.Path().absolute())
%aimport

/Users/goldstein/Python/covid_app/notebooks
Modules to reload:
all-except-skipped

Modules to skip:

In [9]:
data.latest_data("cases").area.max()

17100000.0

In [12]:
import math
17-math.log(data.latest_data("cases").area.max()+1000)

0.3453525007048093

In [5]:
indicator_name = data.indicators()["daily_cases"]["name"]
indicator_name

'daily cases'

In [6]:
data_selected = data.select("World", data.indicators()["daily_cases"])
data_selected

,date,region,iso3,deaths,cases,recovered,population,continent,daily cases
0,2020-01-22,World,False,17,555,28,7527061250,World,NaN
1,2020-01-23,World,False,18,654,30,7527061250,World,99.0
2,2020-01-24,World,False,26,941,36,7527061250,World,287.0
3,2020-01-25,World,False,42,1434,39,7527061250,World,493.0
4,2020-01-26,World,False,56,2118,52,7527061250,World,684.0
...,...,...,...,...,...,...,...,...,...
93,2020-04-24,World,False,196691,2810372,789343,7527061250,World,103861.0
94,2020-04-25,World,False,202841,2896393,817100,7527061250,World,86021.0
95,2020-04-26,World,False,206541,2971132,864995,7527061250,World,74739.0
96,2020-04-27,World,False,211140,3040533,893229,7527061250,World,69401.0
97,2020-04-28,World,False,217126,3115167,927920,7527061250,World,74634.0

In [29]:
%%time
a =[1234.]

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 9.3 µs

In [6]:
indicators = data.indicators()

In [86]:
regions = data.regions
list(regions.keys())
data.timeseries[data.timeseries.region.isin(list(regions.keys()))]

         date region   iso3  deaths    cases  recovered  population continent
0  2020-01-22     AF  False       0        0          0  1264761817        AF
1  2020-01-22     AS  False      17      554         28  4474285900        AS
2  2020-01-22     EU  False       0        0          0   745571470        EU
3  2020-01-22     NA  False       0        1          0   578407428        NA
4  2020-01-22     OC  False       0        0          0    40635640        OC
..        ...    ...    ...     ...      ...        ...         ...       ...
82 2020-04-13  World  False  119461  1903834     447978  7527061250     World
83 2020-04-14  World  False  125961  1975083     473556  7527061250     World
84 2020-04-15  World  False  134154  2054946     510314  7527061250     World
85 2020-04-16  World  False  143775  2151476     541384  7527061250     World
86 2020-04-17  World  False  153794  2238989     567615  7527061250     World

[609 rows x 8 columns]

In [10]:
data.select("US", indicators["cases_capita"]).tail()# data.assign(test=lambda x: x.region)

            date region iso3  ...  population  continent  cases/1M capita
15036 2020-04-15     US  USA  ...   327167434         NA            195.0
15037 2020-04-16     US  USA  ...   327167434         NA            204.0
15038 2020-04-17     US  USA  ...   327167434         NA            214.0
15039 2020-04-18     US  USA  ...   327167434         NA            224.0
15040 2020-04-19     US  USA  ...   327167434         NA            232.0

[5 rows x 9 columns]

In [11]:
data.timeseries[data.timeseries.region=="AF"].head(3)

         date region   iso3  deaths  cases  recovered  population continent
0  2020-01-22     AF  False       0      0          0  1264761817        AF
6  2020-01-23     AF  False       0      0          0  1264761817        AF
12 2020-01-24     AF  False       0      0          0  1264761817        AF

In [13]:
indicators = data.indicators()
indicators["cases_capita"]["name"]

'cases/1M capita'